<a href="https://colab.research.google.com/github/wasilone11/Data-Science-20-Feb-Optimizing-Lending-Club-s-Financial-Risk/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/gdrive/My Drive/kaggle'

In [4]:
%cd /content/gdrive/My Drive/kaggle

/content/gdrive/My Drive/kaggle

In [5]:
df = pd.read_csv("/content/gdrive/My Drive/kaggle/Lending_Club_Loan_approval_Optimization.csv")

In [6]:
df.head()

   Unnamed: 0  Amount Requested  ...  Employment Length  Target
0           0            3600.0  ...                 10       1
1           1           24700.0  ...                 10       1
2           2           20000.0  ...                 10       1
3           3           10400.0  ...                  3       1
4           4           11950.0  ...                  4       1

[5 rows x 6 columns]

In [7]:
df.drop(columns=['Unnamed: 0'])

         Amount Requested  Risk_Score  ...  Employment Length  Target
0                  3600.0       677.0  ...                 10       1
1                 24700.0       717.0  ...                 10       1
2                 20000.0       697.0  ...                 10       1
3                 10400.0       697.0  ...                  3       1
4                 11950.0       692.0  ...                  4       1
...                   ...         ...  ...                ...     ...
2072801           20000.0       680.0  ...                  0       0
2072802           20000.0       602.0  ...                  0       0
2072803            6000.0       667.0  ...                  5       0
2072804            3000.0       602.0  ...                  0       0
2072805           15000.0       621.0  ...                  0       0

[2072806 rows x 5 columns]

In [8]:
from sklearn.model_selection import train_test_split 
y = df['Target'].values
X = df[['Amount Requested', 'Risk_Score', 'Debt-To-Income Ratio', 'Employment Length' ]].values

In [10]:
X_trainval, X_test, y_trainval, y_test = train_test_split(X, y, test_size= 0.20, random_state=42, stratify=y)

df_ytrain = pd.DataFrame(y_trainval)
df_ytest = pd.DataFrame(y_test)

print('In Training Split:')
print(df_ytrain[0].value_counts())

print('\nIn Testing Split:')
print(df_ytest[0].value_counts())

In Training Split:
1    829122
0    829122
Name: 0, dtype: int64

In Testing Split:
1    207281
0    207281
Name: 0, dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.impute import SimpleImputer
scaler = StandardScaler().fit(X_trainval)
X_trainval_scaled = scaler.transform(X_trainval)
X_test_scaled = scaler.transform(X_test)

In [12]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, precision_recall_curve, auc, roc_auc_score, roc_curve, recall_score, classification_report
naive= GaussianNB()
naive.fit(X_trainval_scaled, y_trainval)

y_pred= naive.predict(X_test_scaled)

# Summary of prediction
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

# Accuracy score
print("Accuracy of the model is: ", accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.55      0.71    207281
           1       0.69      1.00      0.82    207281

    accuracy                           0.77    414562
   macro avg       0.84      0.77      0.76    414562
weighted avg       0.84      0.77      0.76    414562

[[113458  93823]
 [    42 207239]]
Accuracy of the model is:  0.7735803088560939

In [15]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import PowerTransformer
nb_classifier = GaussianNB()

GaussianNB().get_params().keys()
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
gs_NB = GridSearchCV(estimator=nb_classifier, 
                 param_grid= params_NB , 
                 cv = 10 ,    
                 verbose=1, 
                 scoring='accuracy',
                 n_jobs=-1) 
gs_NB.fit(X_trainval_scaled,y_trainval)
gs_NB.best_params_

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   14.5s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:   59.2s
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  5.0min finished

{'var_smoothing': 0.1}

In [20]:
from sklearn.metrics import accuracy_score

#df_test_scaled = std.transform(X_test_scaled)
#y_prediction = model.predict_classes(X_test_scaled)
print("\n\nThe Train Accuracy of the model is: {} %".format(gs_NB.score(X_trainval_scaled, y_trainval) * 100.))
print("\n\nThe Test Accuracy of the model is: {} %".format(gs_NB.score(X_test_scaled, y_test) * 100.))

The Train Accuracy of the model is: 81.28381589199178 %


The Test Accuracy of the model is: 81.27155889830713 %

In [19]:
print(gs_NB.best_score_)
test_recall = 0
#print(gs_NB.best_params_)
test_recall = recall_score(y_test, y_pred)
print("Test recall", test_recall)

0.8128924335369978
Test recall 0.9997973765082183