<a href="https://colab.research.google.com/github/wasilone11/Data-Science-20-Feb-Optimizing-Lending-Club-s-Financial-Risk/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/gdrive/My Drive/kaggle'

In [5]:
%cd /content/gdrive/My Drive/kaggle

/content/gdrive/My Drive/kaggle

In [7]:
df = pd.read_csv("/content/gdrive/My Drive/kaggle/Lending_Club_Loan_approval_Optimization.csv")

In [10]:
df.head()

   Unnamed: 0  Amount Requested  ...  Employment Length  Target
0           0            3600.0  ...                 10       1
1           1           24700.0  ...                 10       1
2           2           20000.0  ...                 10       1
3           3           10400.0  ...                  3       1
4           4           11950.0  ...                  4       1

[5 rows x 6 columns]

In [11]:
df.drop(columns=['Unnamed: 0'])

         Amount Requested  Risk_Score  ...  Employment Length  Target
0                  3600.0       677.0  ...                 10       1
1                 24700.0       717.0  ...                 10       1
2                 20000.0       697.0  ...                 10       1
3                 10400.0       697.0  ...                  3       1
4                 11950.0       692.0  ...                  4       1
...                   ...         ...  ...                ...     ...
2072801           20000.0       680.0  ...                  0       0
2072802           20000.0       602.0  ...                  0       0
2072803            6000.0       667.0  ...                  5       0
2072804            3000.0       602.0  ...                  0       0
2072805           15000.0       621.0  ...                  0       0

[2072806 rows x 5 columns]

In [12]:
from sklearn.model_selection import train_test_split 
y = df['Target'].values
X = df[['Amount Requested', 'Risk_Score', 'Debt-To-Income Ratio', 'Employment Length' ]].values

In [13]:
X_trainval, X_test, y_trainval, y_test = train_test_split(X, y, test_size= 0.20, random_state=42, stratify=y)

df_ytrain = pd.DataFrame(y_trainval)
df_ytest = pd.DataFrame(y_test)

print('In Training Split:')
print(df_ytrain[0].value_counts())

print('\nIn Testing Split:')
print(df_ytest[0].value_counts())

In Training Split:
1    829122
0    829122
Name: 0, dtype: int64

In Testing Split:
1    207281
0    207281
Name: 0, dtype: int64

In [14]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.impute import SimpleImputer
scaler = StandardScaler().fit(X_trainval)
X_trainval_scaled = scaler.transform(X_trainval)
X_test_scaled = scaler.transform(X_test)

In [25]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, precision_recall_curve, auc, roc_auc_score, roc_curve, recall_score, classification_report
naive= GaussianNB()
naive.fit(X_trainval_scaled, y_trainval)

y_pred= naive.predict(X_test_scaled)

# Summary of prediction
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

# Accuracy score
print("Accuracy of the model is: ", accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.55      0.71    207281
           1       0.69      1.00      0.82    207281

    accuracy                           0.77    414562
   macro avg       0.84      0.77      0.76    414562
weighted avg       0.84      0.77      0.76    414562

[[113458  93823]
 [    42 207239]]
Accuracy of the model is:  0.7735803088560939

In [41]:
import numpy as np
from sklearn.preprocessing import PowerTransformer
nb_classifier = GaussianNB()

params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
gs_NB = GridSearchCV(estimator=nb_classifier, 
                 param_grid=params_NB, 
                 cv=cv_method,   # use any cross validation technique 
                 verbose=1, 
                 scoring='accuracy') 
gs_NB.fit(X_trainval_scaled,y_trainval)
gs_NB.best_params_

Fitting 15 folds for each of 100 candidates, totalling 1500 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1500 out of 1500 | elapsed: 10.0min finished

{'var_smoothing': 0.1}

In [42]:
print(gs_NB.best_score_)

0.8129268065970483